<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="/static/fileBrowser/css/email.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
	<head>
		<title>Yahoo! HDFS Browser</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<script src="/static/fileBrowser/js/jquery-2.0.1.js" type="text/javascript"></script>
		<script src="/static/fileBrowser/js/jquery.easing.compatibility.js" type="text/javascript"></script>
		<script src="/static/fileBrowser/js/jqueryFileTree.js" type="text/javascript"></script>
		
		<link href="/static/fileBrowser/css/jqueryFileTree.css" rel="stylesheet" type="text/css" media="screen" />
		
		<script type="text/javascript">
			
			$(document).ready( function() {
				
				$('#fileTreeDemo').fileTree({root: '/Users/anupamam/', script: '/api' }, function(file) { 
					alert(file);
				});
				
				$('#fileContentDemo').load("/info");
				
			});

		</script>

	</head>
	
	<body>
<div class="pure-g-r content" id="layout">
    <div class="pure-u" id="nav">
        <a href="#nav" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <div class="pure-menu pure-menu-open">
                <ul>
                    <li class="pure-menu-heading">Cluster</li>
                    <li><a href="#">Red</a></li>
                    <li><a href="#">Green</a></li>
                    <li><a href="#">Blue</a></li>
                    <li><a href="#">Gold</a></li>
                    <li class="pure-menu-heading">Operations </li>
		        <a class="pure-button primary-button" href="#">Create Directory</a>
            		<a class="pure-button primary-button" href="#">Upload</a>
                </ul>
            </div>
        </div>
    </div>	

<div class="pure-u" id="list">
        <div class="content">
		<div class="pure-u-3-4">
		    <div id="fileTreeDemo"></div>
		</div>
	</div>
</div>

<div class="pure-u" id="main">
        <div class="content">
	<div class="email-content-body pure-u-1">
	<p>
		<div id="fileContentDemo">
	</p>
<p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
		</p>
	</div>
</div>
</div>

</div>
</body>
</html>
