<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/base-min.css">
<head>
<title>Yahoo! HDFS Browser</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />



<div id="nav">
     <img src="/static/fileBrowser/images/coloredelephantandcloud.png" alt="coloredElephantAndCloud.png" width="215" height="125"/>           
</div> 


<body>

{{state}}

<form class="pure-form" action="/login/" method="post">{% csrf_token %}

   <fieldset>

       {% if next %}

       <input type="hidden" name="next" value="{{ next }}" />

       {% endif %}

       username:

       <input type="text" name="username" value="{{ username}}" /><br />

       password:

       <input type="password" name="password" value="" /><br />

       <input type="submit" value="Log In" />

   </fieldset>

</form>

</body>


</head>
</html>
